<!DOCTYPE html>
<html>
		<head>
			<title>message</title>
		</head>
		<body>
			<div align="center">
				<br><br>
				<img src="images/logo.png" width="950px" height="400px">
			</div>	
		</body>
</html>